.numbers-called-component {
    display: flex;
    justify-content: center;
}

.bingo-card  {
    max-width: 240px;
    color: rgba(255, 255, 255, 0.711);
}

.delete-button {
    width: 40px;
    height: 40px;
}

.delete-all-numbers-button {
    height: 40px;
    width: 60px;
    padding: 0;
}

.bingo-button {
    height: 35px;
    width: 35px;
    padding: 0;
}


.bingo-button.add, .bingo-button.delete {
    color: rgba(255, 255, 255, 0.711);
}

.add {
    background-color: #2e2e2e;
    border: 1px solid #ccc;
    margin: 0 1px;
}

.delete {
    background-color: rgba(128, 255, 0, 0.685);
}

.delete:hover {
    background-color: rgb(81, 162, 0);   
}

td {
    text-align: center;
    vertical-align: middle;
}

